<div class="main">
  <h2><i class="fa fa-code"></i></h2>
  <h1>Let's Make Web</h1>
  <div class="Social-medea-icons">
    <button class="btn btn-light" style="background: transparent">
      <a
        class="fa fa-whatsapp"
        style="background: none; color: black"
        aria-hidden="true"
        href="https://wa.me/918861654489"
      >
      </a>
    </button>
    <button class="btn btn-light" style="background: transparent">
      <a
        class="fa fa-instagram"
        style="background: none; color: black"
        aria-hidden="true"
        href="https://www.instagram.com/makeweb.com1/"
      >
      </a>
    </button>
    <button class="btn btn-light" style="background: transparent">
      <a
        class="fa fa-facebook-official"
        style="background: none; color: black"
        aria-hidden="true"
        href="https://www.facebook.com/profile.php?id=100086738946369"
      >
      </a>
    </button>
  </div>
</div>
<div class="middler">
  <h1>Let's Make Your Own Website</h1>
  <p>
    Whether you're growing your business,selling online or marketing or reaching
    international audience get <br />
    everything you need to establish your online presence with makeWeb.com
    website builders
  </p>
</div>

<div class="row card1">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Choose theme..</h5>
        <p class="card-text">
          We will help you to choose the theme of your website with demo website
          designs, click the button get the idea...
        </p>
        <!-- <a href="#" class="btn btn-primary" [routerLink]="['/example']"
          >choose theam</a
        > -->
        <button class="btn btn-defult sam" [routerLink]="['/example']">
          Choose theme
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Contact Us</h5>
        <p class="card-text">
          Just make a text and share your idea we will build your website
        </p>
        <div class="Social-medea-icons">
          <button class="btn btn-light" style="background: transparent">
            <a
              class="fa fa-whatsapp"
              style="background: none; color: #34495e"
              aria-hidden="true"
              href="https://wa.me/918861654489"
            >
            </a>
          </button>
          <button class="btn btn-light" style="background: transparent">
            <a
              class="fa fa-instagram"
              style="background: none; color: #34495e"
              aria-hidden="true"
              href="https://www.instagram.com/makeweb.com1/"
            >
            </a>
          </button>
          <button class="btn btn-light" style="background: transparent">
            <a
              class="fa fa-facebook-official"
              style="background: none; color: #34495e"
              aria-hidden="true"
              href="https://www.facebook.com/profile.php?id=100086738946369"
            >
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">About your business</h5>
        <p class="card-text">
          You can register your slot here by sending some queries we will get
          back to you
        </p>
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLScmocoOa1btE1DuolgZKgi0L9tfo2tc31coeZ554lW5cT-b7Q/viewform?usp=sf_link"
          class="btn"
          [routerLink]="['/Query']"
          >Book Slote</a
        >
      </div>
    </div>
  </div>
</div>
<br />
<!-- .,....... -->
<div class="row row1">
  <div class="col app1">
    <div class="card">
      <img
        src="/assets/pexels-photo-5082578.webp"
        class="card-img-top"
        alt="..."
      />
    </div>
  </div>
  <div class="col app2">
    <h1>You Dream It...we build it</h1>
  </div>
</div>
<div></div>
<br />
<app-examples></app-examples>
