<div class="row examples">
  <h1>Website Design Template Categories</h1>

  <div class="container text-center">
    <div class="row">
      <div class="col-sm-2">
        <p>Art & Design</p>
        <div class="card">
          <img
            src="https://images01.nicepage.com/page/71/06/website-design-71063.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
      <div class="col-sm-2">
        <p>Architecture & builds</p>
        <div class="card">
          <img
            src="https://images01.nicepage.com/page/66/95/website-design-66953.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
      <div class="col-sm-2">
        <p>Business & Law</p>
        <div class="card">
          <img
            src="https://images01.nicepage.com/page/81/13/website-design-81130.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
      <div class="col-sm-2">
        <p>Technology</p>
        <div class="card">
          <img
            src="https://images01.nicepage.com/page/66/14/website-design-66149.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>

      <div class="col-sm-2">
        <p>Food & Restaurant</p>
        <div class="card">
          <img
            src="https://images01.nicepage.com/page/24/98/website-design-24984.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>

      <div class="col-sm-2">
        <p>Beauty & Fashion</p>
        <div class="card">
          <img
            src="https://images01.nicepage.com/page/32/49/website-design-32495.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row examples"></div>
